input{
    padding: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    box-shadow: 2px 2px 2px black;
    border-top: solid gray;
}
button{
    background-color: aqua;
    font-weight: bold;
    margin-top: 0.5rem;
    width: 50%;
    box-shadow: 2px 2px 2px;
}
button:hover{
background-color:red;
}
form{
    text-shadow: 4px 4px 4px;
}
